<footer>
  {{ site.footer }}
  <marquee scrollamount="3" loop="infinite" onmouseover="this.stop();" onmouseout="this.start();" id="webring_marquee">
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/decentralize.png" alt="Decentralize webring link"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/digdeeper.png" alt="Dig Deeper webring link"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/paranoid.gif" alt="Paranoid webring link"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/protonmail.png" alt="ProtonMail webring link"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/shadow-wiki.png" alt="Shadow Wiki webring link"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/sizeofcat.png" alt="Size of Cat webring link"></a>
    <a rel="nofollow" href="" target="_blank"><img src="/images/webring/yesterweb.png" alt="Yesterweb webring link"></a>
  </marquee>
</footer>
